* {
	font-family: "montserrat", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	height: 100vh;
}

.vh-100 {
	height: 100vh;
}

.vh-90 {
	height: 90vh;
}

.vh-85 {
	height: 85vh;
}

.vh-80 {
	height: 80vh;
}

.vh-75 {
	height: 75vh;
}

.vh-70 {
	height: 70vh;
}

.vh-60 {
	height: 60vh;
}

.vh-50 {
	height: 50vh;
}

.vh-40 {
	height: 40vh;
}

.vh-37 {
	height: 37vh;
}

.vh-30 {
	height: 30vh;
}

.vh-27 {
	height: 27vh;
}

.vh-25 {
	height: 25vh;
}

.vh-20 {
	height: 20vh;
}

.vh-15 {
	height: 15vh;
}

.vh-10 {
	height: 10vh;
}

.h-100 {
	height: 100%;
}

.h-90 {
	height: 90%;
}

.h-80 {
	height: 80%;
}

.h-75 {
	height: 75%;
}

.h-70 {
	height: 70%;
}

.h-60 {
	height: 60%;
}

.h-50 {
	height: 50%;
}

.h-40 {
	height: 40%;
}

.h-37 {
	height: 37%;
}

.h-30 {
	height: 30%;
}

.h-37 {
	height: 37%;
}

.h-25 {
	height: 25%;
}

.h-20 {
	height: 20%;
}

.h-15 {
	height: 15%;
}

.h-10 {
	height: 10%;
}

.vw-100 {
	width: 100vw;
}

.vw-90 {
	width: 90vw;
}

.vw-80 {
	width: 80vw;
}

.vw-70 {
	width: 70vw;
}

.vw-60 {
	width: 60vw;
}

.vw-50 {
	width: 50vw;
}

.vw-40 {
	width: 40vw;
}

.vw-30 {
	width: 30vw;
}

.vw-25 {
	width: 25vw;
}

.vw-20 {
	width: 20vw;
}

.vw-15 {
	width: 15vw;
}

.vw-10 {
	width: 10vw;
}

.w-100 {
	width: 100%;
}

.w-90 {
	width: 90%;
}

.w-80 {
	width: 80%;
}

.w-70 {
	width: 70%;
}

.w-60 {
	width: 60%;
}

.w-50 {
	width: 50%;
}

.w-40 {
	width: 40%;
}

.w-30 {
	width: 30%;
}

.w-25 {
	width: 25%;
}

.w-20 {
	width: 20%;
}

.w-15 {
	width: 15%;
}

.w-10 {
	width: 10%;
}

.flex{
	display: flex;
}

.flex-center-vertical{
	align-items: center;
}

.flex-start-vertical{
	align-items: flex-start;
}

.flex-end-vertical{
	align-items: flex-end;
}

.flex-center-horizontal{
	justify-content: center;
}

.flex-between-horizontal{
	justify-content: space-between;
}

.flex-evenly-horizontal{
	justify-content: space-evenly;
}

.flex-start-horizontal{
	justify-content: left;
}

.flex-end-horizontal{
	justify-content: right;
}

.flex-direction-col{
	flex-direction: column;
}

.flex-gap-large {
	grid-gap: 30px;
}

.flex-gap-extra-large {
	grid-gap: 37.5px;
}

.flex-gap-extra-large-double {
	grid-gap: 45px;
}

.flex-gap-regular {
	grid-gap: 15px;
}

.flex-gap-semi-large{
	grid-gap: 22.5px;
}

.flex-gap-small {
	grid-gap: 7.5px;
}

.flex-gap-semi-small {
	grid-gap: 11.25px;
}

.bg-primary {
	background: #105157;
}

.missions-home {
	z-index: 0;
}

.bg-card-profile {
	background: url('card-ornament2.svg') !important;
	background-size: cover !important;
	background-position: top;
}

.mt-no-posts {
	margin-top: 5vh !important;
}

.points-show{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;	
color: #105157;
background: #F8FDDF;
padding: 10px 25px 10px 25px;
border-radius: 10px;
}

.bg-secondary {
	background: #D1E987;
}

.login-form-bg {
	border-radius: 40px 40px 0px 0px;
	padding: 6.69vh 7.246vw 7.81vh 7.246vw;
}

.rounded-image {
	border-radius: 100px;
}

.rounded-20 {
	border-radius: 20px;
}

.modal-backdrop {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 9999999999;
}

.user-name-poster {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.notif-icon {
	width: 30px;
	height: 30px;
	position: relative;
}

.small-red-dot {
	width: 8px;
	height: 8px;
	background: #dc3545;
	position: absolute;
	border-radius: 100px;
	right: 10px;
	top: 5px;
}

.title-card-home {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 7.246vw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 3px;
}

.no-device {
	font-family: Montserrat;
	font-size: 4vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 3px;
	color: #D1E987;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.title-card-profile {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 3px;
}

.title-page-sh {
	color: #105157;
	font-family: Montserrat;
	font-size: 6.039vw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.chart-container-body {
	height: 200px;
}

.active {
	color: #68CCC4 !important;
}

.no-decoration {
	text-decoration: none;
}

.checkbox {
	accent-color: #105157;
	width: 15px;
	height: 15px ;
}

.template-form-bg {
	border-radius: 40px 40px 0px 0px;
	padding: 3.90vh 7.246vw 5.58vh 7.246vw;
}

.pad-change-pic {
	padding-top: 2vh;
}

.template-home-bg {
	border-radius: 40px 40px 0px 0px;
	padding: 3.90vh 7.246vw 13vh 7.246vw;
	box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.template-post-bg {
	border-radius: 40px 40px 0px 0px;
	padding: 3.90vh 7.246vw 25vh 7.246vw;
}

.h-fit {
	height: fit-content;
}

.mh-75 {
	min-height: 75vh;
}

.disabled-card {
	filter: grayscale(100%);	
}

.mh-90 {
	min-height: 90vh;
}

.mh-60 {
	min-height: 60vh;
}

.img-login {
	margin-top: 3vh;
}

.navbar {
	position: fixed;
	padding: 2.23vh 9.662vw 2.23vh 9.662vw;
	border-radius: 10px 10px 0px 0px;
	background: #F8FDDF;
	bottom: 0;
	filter: drop-shadow(0px 10px 50px #105157);
	z-index: 1;
}

.form-note {
	border-radius: 15px;
	line-height: 25px;
	background: #dc3545;
	padding: 15px;
	font-size: 13px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	text-align: center;
}

.form-notice {
	border-radius: 15px;
	line-height: 25px;
	background: #dc3545;
	padding: 15px;
	font-size: 13px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 600;
	text-align: center;
}

.comment-input {
	position: fixed;
	padding: 25px;
	border-radius: 20px 20px 0px 0px;
	background: #105157;
	box-shadow: 0px 10px 40px 0px rgba(248, 253, 223, 0.50);
	width: 100%;
	bottom: 0;
}

.title-comment-input {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.sub-home {
	color: #105157;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.sub-track {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.carbon-level-high {
	color: #dc3545;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.carbon-level-average {
	color: #FF8A00;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.carbon-level-low {
	color: #105157;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.carbon-count {
	color: #105157;
	font-family: Montserrat;
	font-size: 12.077vw;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.time-track {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 7.077vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.padding-accent{
	padding-bottom: 10px;
}

.head-input-accent {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.carbon-count-2 {
	color: #105157;
	font-family: Montserrat;
	font-size: 10.145vw;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.carbon-status-home {
	padding: 4.4vh 7.246vw 4.4vh 7.246vw;
}

.card-bg {
	min-height: 60vh;
	overflow: auto;
}

.sub-header-login {
	color: #105157;
	font-family: Montserrat;
	font-size: 6.039vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.header-login {
	width: 71.498vw;
}

.gap-header {
	grid-gap: 2.174vw;
}

.head-input-primary {
	color: #105157;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.head-input-secondary {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.input-field {
	border: none;
	border-radius: 20px;
	background: #F8FDDF;
	padding: 25px;
	padding-left: 30px;
	color: #105157;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.input-field-capt {
	border: none;
	border-radius: 20px;
	background: #F8FDDF;
	padding: 25px;
	padding-left: 30px;
	color: #105157;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	height: 200px;
}

.input-field:focus {
	outline: none;
	transition: 0.5s;
	box-shadow: 5px 10px rgba(16, 81, 87, 0.1);
}

.input-field-capt:focus {
	outline: none;
	transition: 0.5s;
	box-shadow: 5px 10px rgba(16, 81, 87, 0.1);
}

.img-device-preview {
	padding-top: 10px;
}

.select-1:focus {
	outline: none;
	transition: 0.5s;
	box-shadow: 5px 10px rgba(16, 81, 87, 0.1);
}

.btn-primary {
	border: none;
	border-radius: 20px;
	background: #105157;
	padding: 25px;
	color: #D1E987;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.btn-add {
	border: none;
	border-radius: 10px;
	background: #F8FDDF;
	padding: 12px 18px 12px 18px;
	color: #105157;
	font-size: 21px;
}

.btn-add-comment {
	border: none;
	border-radius: 10px;
	background: #D1E987;
	padding: 12px 18px 12px 18px;
	color: #105157;
	font-size: 21px;
}

.text-center {
	text-align: center;
}

.loading-text {
	color: #105157;
	font-family: Montserrat;
	font-size: 3.5vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.btn-modal {
	border: none;
	border-radius: 20px;
	background: #105157;
	padding: 15px;
	color: #D1E987;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.btn-schedule-item {
	border: none;
	border-radius: 10px;
	background: #105157;
	padding: 10px;
	color: #D1E987;
	font-family: Montserrat;
	font-size: 3vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.btn-schedule-item-danger {
	border: none;
	border-radius: 10px;
	background: #dc3545;
	padding: 10px;
	color: #fff;
	font-family: Montserrat;
	font-size: 3vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.btn-modal-danger {
	border: none;
	border-radius: 20px;
	background: #dc3545;
	padding: 15px;
	color: #fff;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.time-text {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.btn-secondary {
	border: none;
	border-radius: 20px;
	background: #D1E987;
	padding: 25px;
	color: #105157;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.icon-house-signal {
	font-size: 30px;
	color: #105157;
}

.page-top {
	padding: 2.34vh 7.246vw 2.34vh 7.246vw;
}

.home-button {
	width: 50px;
	height: 50px;
	background: #D1E987;
	border-radius: 100px;
}

.input-field::placeholder {
	color: rgba(16, 81, 87, 0.50);
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.icon-eye {
	font-size: 20px;
	position: absolute;
	top: 68.08vh;
	left: 79.710vw;
}

.padding-btn-login {
	padding-top: 10px;
}

.link-login {
	color: #105157;
	font-family: Montserrat;
	font-size: 4.831vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.text-icon-post {
	color: #105157;
	text-align: justify;
	font-family: Montserrat;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.text-icon-detail-post {
	color: #D1E987;
	text-align: justify;
	font-family: Montserrat;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}


.arrow-back {
	color: #105157;
	font-size: 21px;
}

.star-missions {
	font-size: 5.609vw;
	color: #105157;
}

.mission-title {
	color: #105157;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.mission-points {
	color: #105157;
	font-family: Montserrat;
	font-size: 5.556vw;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.card-mission {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.card-device {
	background: #f7fdde;
	background-size: cover;
	color: #105157;
	border-radius: 20px;
}

.title-notif {
	color: #105157;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.card-notif {
	background: #f7fdde;
	background-size: cover;
	color: #105157;
	border-radius: 20px;
	padding: 20px 25px 20px 25px;
}

.notif-scroll {
	overflow-y: auto;
}

.notif-message {
	color: #105157;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.notif-border {
	border-bottom: 1px solid #105157;
	padding-bottom: 15px;
}

.notif-timestamp {
	color: #105157;
	font-family: Montserrat;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.select-1 {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1.5rem center !important;
    background-size: 1.3em !important;
	border: none;
	border-radius: 20px;
	background: #F8FDDF;
	padding: 25px;
	padding-left: 30px;
	color: #105157;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.select-track {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1.5rem center !important;
    background-size: 1.3em !important;
	border: none;
	border-radius: 20px;
	background: #F8FDDF;
	padding: 15px;
	padding-left: 15px;
	color: #105157;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.btn-track {
	border: none;
	border-radius: 20px;
	background: #105157;
	padding: 15px;
	color: #D1E987;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.btn-stop-track {
	border: none;
	border-radius: 20px;
	background: #dc3545;
	padding: 15px;
	color: #fff;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.sub-title-emission {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 23px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.accent-title-emission {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.carbon-percentage {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.carbon-bar-count {
	height: 10px;
	border-radius: 100px;
	background: #D1E987;
	margin-left: -1px;
}

.carbon-level-bar {
	width: 100%;
	height: 10px;
	border-radius: 100px;
	background: #F8FDDF;
}

.select-2 {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 1.5rem center !important;
    background-size: 1.3em !important;
	border: none;
	border-radius: 20px;
	background: #F8FDDF;
	padding: 25px;
	padding-left: 30px;
	padding-top: 18px;
	padding-bottom: 18px;
	color: #105157;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.switch-button {
	background: #D9D9D9;
	width: 15.459vw;
	height: 2.23vh;
	border-radius: 100px;
}

.on-button {
	border-radius: 100px 0px 0px 100px;
	padding-left: 6px;
}

.off-button {
	border-radius: 0px 100px 100px 0px;
	padding-right: 8px;
}

.on-button-inactive {
	background: #D9D9D9;
	color: #718284;
}

.off-button-inactive {
	background: #D9D9D9;
	color: #718284;
}

.off-button-active {
	background: #dc3545;
	color: #FFFFFF;
	transition: 0.5s;
}

.on-button-active {
	background: #02BA87;
	color: #FFFFFF;
	transition: 0.5s;
}

.icon-on {
	width: 10px;
	height: 10px;
	border: 2px solid #FFF;
	border-radius: 100px;
}

.icon-off {
	width: 10px;
	height: 3px;
	background: #FFF;	
	border-radius: 100px;
}

.title-card {
	color: #105157;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.title-card-content {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.content-card-detail {
	color: #D1E987;
	text-align: justify;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 23px;
}

.content-card {
	color: #105157;
	text-align: justify;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.card {
	background: url("card-bg.svg");
	background-size: cover;
	color: #105157;
	padding: 20px;
	border-radius: 20px;
}

.card-track {
	padding: 40px 20px;
	border-radius: 20px;
}

.icon-post {
	margin-top: 4px;
	width: 25px;
	height: 21.351px;
}

.icon-detail-post {
	color: #D1E987;
	margin-top: 4px;
	width: 25px;
	height: 21.351px;
}

.card-body {
	padding: 20px;
}

.card-post {
	background: #f7fdde;
	background-size: cover;
	color: #105157;
	border-radius: 20px;
}

.image-post {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.image-device {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.card-2 {
	background: #D1E987;
	background-size: cover;
	color: #105157;
	padding: 20px;
	border-radius: 20px;
}

.title-device {
	color: #105157;
	font-family: Montserrat;
	font-size: 4.348vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.settings-device {
	color: #105157;
}

.padding-right-setting {
	padding-right: 10px;
}

.divider {
	width: 358px;
	height: 2px;
	border-radius: 100px;
	background: #F8FDDF;
}

.comment {
	color: #D1E987;
	text-align: justify;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 23px; /* 153.333% */
}

.reply {
	color: #F8FDDF;
	text-align: justify;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.user-name-commenter {
	color: #D1E987;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.username-display {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	c
	line-height: 30px;
	color: #105157;	
}

.name-display {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #105157;
}

.red-icon {
	color: #dc3545;
}

.blue-icon {
	color: #007bff;
}

.label-restrict {
	border: none;
	border-radius: 10px;
	background: #dc3545;
	padding: 10px;
	color: #fff;
	font-family: Montserrat;
	font-size: 3vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.app {
	 background: #1c2d27 !important;
}

@media screen and (max-width: 1000px) {
  .mobile {
  	display: block;
  }
  .desktop {
  	display: none;
  }
}

@media screen and (min-width: 1001px) {
  .mobile {
  	display: none;
  }

  .desktop{
  	height: 100%;
  }

  .desktop-navbar{
  	position: absolute;
  	width: 100%;
  }

  .img-login {
		margin-top: 3vh;
	}
	.sub-header-login {
		color: #105157;
		font-family: Montserrat;
		font-size: 2vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.header-login {
		width: 20vw;
	}

	.head-input-primary {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.head-input-secondary {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.login-form-bg {
		border-radius: 40px 40px 0px 0px;
		padding: 5.4vh 2vw 5.4vh 2vw;
		overflow-y: scroll;
	}

	.template-form-bg {
		border-radius: 40px 40px 0px 0px;
		padding: 3.90vh 2vw 5.58vh 2vw;
		overflow-y: scroll;
	}

	.input-field {
		border: none;
		border-radius: 20px;
		background: #F8FDDF;
		padding: 17px;
		padding-left: 30px;
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.btn-primary {
		border: none;
		border-radius: 20px;
		background: #105157;
		padding: 17px;
		color: #D1E987;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.link-login {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-decoration: none;
	}

	.arrow-back {
		color: #105157;
		font-size: 15px;
	}

	.page-top {
		padding: 2.34vh 2vw 2.34vh 2vw;
	}

	.btn-secondary {
		border: none;
		border-radius: 20px;
		background: #D1E987;
		padding: 15px;
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.input-field::placeholder {
		color: rgba(16, 81, 87, 0.50);
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.btn-modal {
		border: none;
		border-radius: 20px;
		background: #105157;
		padding: 15px;
		color: #D1E987;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.btn-modal-danger {
	border: none;
	border-radius: 20px;
	background: #dc3545;
	padding: 15px;
	color: #fff;
	font-family: Montserrat;
	font-size: 1.5vw;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

	.loading-text {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.2vw;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.sub-home {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.sub-track {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.carbon-count {
		color: #105157;
		font-family: Montserrat;
		font-size: 3.5vw;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}

	.carbon-status-home {
		padding: 4.4vh 2vw 4.4vh 2vw;
	}

	.carbon-status-home-desktop {
		padding: 1vh 2vw 4.4vh 2vw;
	}

	.carbon-level-high {
		color: #dc3545;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.carbon-level-average {
		color: #FF8A00;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.carbon-level-low {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.title-card-home {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 2vw;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-top: 3px;
	}

	.template-home-bg {
		border-radius: 40px 40px 0px 0px;
		padding: 3.90vh 2vw 15vh 2vw;
		box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.5);
		overflow-y: scroll;
	}

	.template-post-bg {
		border-radius: 40px 40px 0px 0px;
		padding: 3.90vh 2vw 25vh 2vw;
		overflow-y: auto;
	}

	.star-missions {
		font-size: 1.6vw;
		color: #105157;
	}

	.small-red-dot {
		width: 6px;
		height: 6px;
		background: #dc3545;
		position: absolute;
		border-radius: 100px;
		right: 15px;
		top: 8px;
}

	.mission-title {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.3vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.relative {
		position: relative;
	}

	.mission-points {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.8vw;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.card {
		background: url("card-bg.svg");
		background-size: cover;
		color: #105157;
		padding: 15px;
		border-radius: 20px;
	}

	.navbar {
		position: absolute;
		padding: 2.23vh 2.5vw 2.23vh 2.5vw;
		border-radius: 10px 10px 0px 0px;
		background: #F8FDDF;
		bottom: 0;
		filter: drop-shadow(0px 10px 50px #105157);
		z-index: 1;
	}

	.icon-house-signal {
		font-size: 20px;
		color: #105157;
	}

	.home-button {
		width: 35px;
		height: 35px;
		background: #D1E987;
		border-radius: 100px;
	}

	.title-page-sh {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.8vw;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.btn-add {
		border: none;
		border-radius: 10px;
		background: #F8FDDF;
		padding: 12px 18px 12px 18px;
		color: #105157;
		font-size: 15px;
	}

	.title-device {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.switch-button {
		background: #D9D9D9;
		width: 5.459vw;
		height: 2.23vh;
		border-radius: 100px;
	}

	.no-device {
		font-family: Montserrat;
		font-size: 1.3vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-top: 3px;
		color: #D1E987;
		border-radius: 10px;
		width: 100%;
		margin-bottom: 10px;
	}

	.label-restrict {
		border: none;
		border-radius: 10px;
		background: #dc3545;
		padding: 10px;
		color: #fff;
		font-family: Montserrat;
		font-size: 1vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.select-1 {
		appearance: none;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
	    background-repeat: no-repeat !important;
	    background-position: right 1.5rem center !important;
	    background-size: 1.3em !important;
		border: none;
		border-radius: 20px;
		background: #F8FDDF;
		padding: 25px;
		padding-left: 30px;
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.time-text {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.title-device {
		color: #105157;
		font-family: Montserrat;
		font-size: 1.3vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.btn-schedule-item {
		border: none;
		border-radius: 10px;
		background: #105157;
		padding: 10px;
		color: #D1E987;
		font-family: Montserrat;
		font-size: 1.1vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.btn-schedule-item-danger {
		border: none;
		border-radius: 10px;
		background: #dc3545;
		padding: 10px;
		color: #fff;
		font-family: Montserrat;
		font-size: 1.1vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.select-2 {
		appearance: none;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
	    background-repeat: no-repeat !important;
	    background-position: right 1.5rem center !important;
	    background-size: 1.3em !important;
		border: none;
		border-radius: 20px;
		background: #F8FDDF;
		padding: 25px;
		padding-left: 30px;
		padding-top: 18px;
		padding-bottom: 18px;
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.sub-title-emission {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.select-track {
		appearance: none;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
	    background-repeat: no-repeat !important;
	    background-position: right 1.5rem center !important;
	    background-size: 1.3em !important;
		border: none;
		border-radius: 20px;
		background: #F8FDDF;
		padding: 15px;
		padding-left: 15px;
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.btn-track {
		border: none;
		border-radius: 20px;
		background: #105157;
		padding: 15px;
		color: #D1E987;
		font-family: Montserrat;
		font-size: 1.4vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.btn-stop-track {
		border: none;
		border-radius: 20px;
		background: #dc3545;
		padding: 15px;
		color: #fff;
		font-family: Montserrat;
		font-size: 1.4vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.time-track {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 2.2vw;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.desktop-fix{
		position: fixed;
		z-index: 2;
	}

	.form-note {
		border-radius: 15px;
		line-height: 25px;
		background: #dc3545;
		padding: 15px;
		font-size: 10px;
		color: #fff;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 600;
		text-align: center;
	}

	.accent-title-emission {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.carbon-count-2 {
		color: #105157;
		font-family: Montserrat;
		font-size: 3vw;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}

	.title-card {
		color: #105157;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.content-card {
		color: #105157;
		text-align: justify;
		font-family: Montserrat;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.text-icon-post {
		color: #105157;
		text-align: justify;
		font-family: Montserrat;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.text-icon-detail-post {
		color: #D1E987;
		text-align: justify;
		font-family: Montserrat;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.icon-post {
		margin-top: 4px;
		width: 20px;
		height: 21.351px;
	}

	.input-field-capt {
		border: none;
		border-radius: 20px;
		background: #F8FDDF;
		padding: 17px;
		padding-left: 30px;
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		height: 200px;
	}

	.input-field-capt::placeholder {
		color: rgba(16, 81, 87, 0.50);
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.comment-input {
		position: absolute;
		padding: 25px;
		border-radius: 20px 20px 0px 0px;
		background: #105157;
		box-shadow: 0px 10px 40px 0px rgba(248, 253, 223, 0.50);
		width: 100%;
		bottom: 0;
	}

	.title-comment-input {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.input-field {
		border: none;
		border-radius: 20px;
		background: #F8FDDF;
		padding: 17px;
		padding-left: 20px;
		color: #105157;
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.input-field::placeholder {
		color: rgba(16, 81, 87, 0.50);
		font-family: Montserrat;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.btn-add-comment {
		border: none;
		border-radius: 10px;
		background: #D1E987;
		padding: 2px 8px 2px 8px;
		color: #105157;
		font-size: 21px;
	}

	.user-name-poster {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.title-card-content {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.content-card-detail {
		color: #D1E987;
		text-align: justify;
		font-family: Montserrat;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 23px;
	}

	.profile-status-home {
		padding: 4.4vh 2vw 5vh 2vw;
	}

	.title-card-profile {
		color: #D1E987;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-top: 3px;
	}

	.points-show{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;	
	color: #105157;
	background: #F8FDDF;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	}

}





